@import 'components.css';
@import 'layout.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --primary-text: #FFFFFF;
    --secondary-text: #B9BBBE;
    --tertiary-text: #72767D;

    --primary-background: #36393F;
    --secondary-background: #2F3136;
    --tertiary-background: #202225;

    --primary-button: #5865F2;
    --primary-button-hover: #4752C4;
    --secondary-button: #FFFFFF;
    --tertiary-button: #23272A;
    --tertiary-button-hover: #36433F;

    --link-colour: #00AFF4;

    --nearly-black: #23272A;
}

* {
    font-family: 'Roboto', sans-serif;
    color: var(--primary-text);
}

body {
    background-color: var(--tertiary-background);
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}